
.footer-top{
    flex-direction: column;
    display: flex;
    justify-content: space-between;
  
    align-items: flex-start;
    @include mobile{
        flex-direction: row;
    }
    
}
.footer-title-part{
    flex: 0 0 auto;
    width: 100%;
    @include mobile{
        width: 40%;
    }
    @include predesktop{
        width: 50%;
    }
}
.footer-title-part h2{ 
    margin-bottom: 16px;
    color: #393c46;
    font-size: 32px;
    font-weight: 800;
    line-height: 1.25;
   
}
.footer-title-part p{
    color: #73788c;
    font-size: 17px;
    font-weight: 400;
    line-height: 26px;
}
.footer-btn-list{
    display: flex;
    flex-wrap: wrap;
    
    flex: 0 0 auto;
    width: 100%;
    @include mobile{
        width: 50%;
    }
    
}
.footer-btn-list li{
    padding: 0 12px;
    flex: 0 0 auto;
    width: 100%;
    margin-top: 10px;
    @include predesktop{
        margin-top: 0px;
        width: 33.33333333%;
    }
   
}
.footer-btn-list a{
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;

    color:#fff;
    border-radius: 12px;

    font-family: Lucida Grande,sans-serif;
    text-align: left;
    text-decoration: none;
   
    background-color: #101010;
    padding: 5px 0;
    transition: background-color .25s linear;
    
}
.footer-btn-list svg,
.footer-btn-list img{
    margin-right: 10px;
}
.footer hr{
    margin: 40px 0;
}
.footer-bottom{
    display: flex;
    margin-bottom: 24px;
    flex-direction: column;
    margin: 0 auto;
    @include mobile{
        flex-direction:row;
    }
}

.footer-bottom-wrap_left{
    flex: 0 0 auto;
    width: 100%;
    @include mobile{
        width: 50%;
    }
}
.footer-bottom-wrap{
    margin-bottom: 1.5rem;
    flex: 0 0 auto;
    width: 60%;
    margin: 0 auto;
}
.footer-bottom-list{
    margin-top: 1.5rem;
}
.footer-bottom-list li{
    margin-bottom: 1rem
}
.footer-bottom-list a{
    color: #393c46;
    transition: .3s;
}
.footer-bottom-list a:hover {
    color: #40bf95;
}

.footer-certificates{
    display: flex;
    margin-bottom: 24px;
    flex-wrap: wrap;
    @include tablet{
        flex-wrap: nowrap;
    }

}

.footer-certificates svg{
    padding: 8px 16px;
    background-color: rgb(16, 38, 72);
    border-radius: 8px;
    
}
.footer-certificates img{
    height: 40px;
    width: auto;
}
.copyright{
    font-size: 14px;
}

.footer-bottom-wrap_right{
    margin-bottom: 1.5rem;
    margin: 0 auto;
    flex: 0 0 auto;
    width: 100%;
    @include mobile{
        width: 41.66666667%;;
    }

}
.footer-bottom-wrap_right h2{
    margin-bottom: 1.5rem;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    @include mobile{
        text-align:start;
    }
    
   
}
.footer-bottom-right{
    display: flex;
    gap: 30px;
}
.footer-bottom-right li{
    margin-bottom: 16px;
}

.footer-bottom-right a{
    display: flex;
    
color: #393c46;
    transition: .3s;
}

.footer-bottom-right a:hover{
    color: #40bf95;
}
.footer-bottom-right i{
    position: relative;
    display: inline-block;
    margin-right: 5px;
    line-height: 1em;
    width: 1em;
    
    background-image: url(/images/us.svg);
    background-repeat: no-repeat;
    background-position: center;
   
    border-radius: 50%;
}


.copy-mob{
    text-align: center;
    @include mobile{
display: none;
    }
}
.copy-tab{
    display: none;
    @include mobile{
        display: flex;
    }
}  
.footer-bottom-wrap .copyright{
    display: none;
    @include mobile{
        display: block;
    }
}