

.dropdown-menu{
    position: absolute;
    top: 100%;
    left: auto;
    right: 0;
   
    min-width: 10rem;
    padding: 0.5rem 0;
    margin-top: 0.8em;
    width: 440px; 

    background: #fff;
    border: 1px solid #ececef;
    border-radius: 16px;
    box-shadow: 0 4px 0 #dedfe3;
    color: #212529;
    font-size: 1rem;
    list-style: none;
    text-align: left;
    z-index: 1000;
}
.dropdown-menu-item{
    color: #212529;
    font-size: 1rem;
    font-size: 18px;
}
.dropdown-menu-link{
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    line-height: 1.25em;
    padding: 0.75em 1.4em;

    color: #393c46;
    font-weight: 700;
    text-transform: none;
    transition: all .5s;
}


.dropdown-menu-link:hover{
    background-color: #f9f9fa;
    color: #393c46;
    
}
.dropdown-menu-link:hover i{
    opacity: .72;
}

.dropdown-menu-svg_wrap{
    align-items: center;
    background-color: hsla(81,40%,70%,.2);
    border-radius: 50%;
    display: flex;
    height: 56px;
    justify-content: center;
    min-width: 56px;
    width: 56px;
}
.dropdown-menu-text h2{
    color: #393c46;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: -.01em;
    line-height: 1.44;
    margin: 0;
}
.dropdown-menu-link p{
    color: #73788c;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    margin: 0;
}
.icon{
    align-items: center;
    display: flex;
    justify-content: center;
    padding-left: 15px;
}
.dropdown-menu-arrow-right{
    color: #40bf95;
    font-size: 18px;
    font-weight: 600;
}

.dropdown-menu-arrow-right::before{
    content: "\1F87A";
    box-sizing: border-box;
}
.dropdown-menu-arrow-right.arrow-right-up::before{
    content: "\1F87D";
}