/* цвет основного текса color: #757575;  */
/* Цвет вторичного текста color: #212121; */
/* Акцент #2196F3; */
/* Цвет основного фона #ffffff;*/
/* Цвет фона Футера background: #2F303A; */
/* Цвет вторичного фона #F5F4FA; */
:root {
    --primary-tex-color: #212121;
    --title-text-color: #757575;
    --accent-color: #2196f3;
    --title-background-color: #ffffff;
    --botton-background-color: #f5f4fa;
    --fuuter-background-color: #2f303a;
    --prymary-background-color: #e5e5e5;
}